#### In this we will make some new columns from existing ones so that we get better insights in our Analysis Later

In [2]:
import pandas as pd
import numpy as np

In [3]:
#load the data
df=pd.read_csv('mobiles_cleaned_version1.csv')

In [4]:
#copy of data
df1=df.copy()

In [5]:
df1.head(3)

,mobile_name,price,rating,connectivity,processor,storage,battery,display,camera,extra_storage,os
0,OPPO Reno 11,29990,4.70,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...","Dimensity 8200, Octa Core, 3.1 GHz Processor","8 GB RAM, 256 GB inbuilt",4800 mAh Battery with 67W Fast Charging,"6.7 inches, 1080 x 2412 px, 120 Hz Display wit...",50 MP + 32 MP + 8 MP Triple Rear & 32 MP Front...,Memory Card Not Supported,Android v14
1,Poco X6 Pro 5G,19999,4.50,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...","Dimensity 8300 Ultra, Octa Core, 3.35 GHz Proc...","12 GB RAM, 256 GB inbuilt",5500 mAh Battery with 90W Fast Charging,"6.67 inches, 1220 x 2712 px, 120 Hz Display wi...",64 MP + 8 MP + 2 MP Triple Rear & 16 MP Front ...,Memory Card Not Supported,Android v14
2,Xiaomi Redmi Note 13 Pro Plus,31999,4.35,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...","Dimensity 7200 Ultra, Octa Core, 2.8 GHz Proce...","8 GB RAM, 256 GB inbuilt",5000 mAh Battery with 120W Fast Charging,"6.67 inches, 1220 x 2712 px, 120 Hz Display wi...",200 MP + 8 MP + 2 MP Triple Rear & 16 MP Front...,Memory Card Not Supported,Android v13

#here we will make a new column with brand name from mobile_name

In [7]:
#here we will make a new column with brand name from mobile_name
brand=df['mobile_name'].str.split(' ').str.get(0).str.lower()

In [8]:
df1.insert(1,'brand',brand)

In [9]:
df1.head(2)

,mobile_name,brand,price,rating,connectivity,processor,storage,battery,display,camera,extra_storage,os
0,OPPO Reno 11,oppo,29990,4.7,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...","Dimensity 8200, Octa Core, 3.1 GHz Processor","8 GB RAM, 256 GB inbuilt",4800 mAh Battery with 67W Fast Charging,"6.7 inches, 1080 x 2412 px, 120 Hz Display wit...",50 MP + 32 MP + 8 MP Triple Rear & 32 MP Front...,Memory Card Not Supported,Android v14
1,Poco X6 Pro 5G,poco,19999,4.5,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...","Dimensity 8300 Ultra, Octa Core, 3.35 GHz Proc...","12 GB RAM, 256 GB inbuilt",5500 mAh Battery with 90W Fast Charging,"6.67 inches, 1220 x 2712 px, 120 Hz Display wi...",64 MP + 8 MP + 2 MP Triple Rear & 16 MP Front ...,Memory Card Not Supported,Android v14

In [10]:
df['connectivity'].values

array(['Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Blaster',
       'Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Blaster',
       'Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Blaster', ...,
       'Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Blaster',
       'Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC',
       'Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi'], dtype=object)

In [11]:
#here we will make 3 new cloumn with name has_5g ,has_nfc,as_ir_blaster from connectivity columns beacause these not common to all 
#while info like 4g,dual sim ,volte is in all phones
has_5g=df['connectivity'].str.contains('5G')
has_nfc=df['connectivity'].str.contains('NFC')
has_IRblaster=df['connectivity'].str.contains('IR Blaster')

In [12]:
df1.insert(6,'5g',has_5g)
df1.insert(7,'nfc',has_nfc)
df1.insert(8,'ir_blaster',has_IRblaster)

In [13]:
df1.head(2)

,mobile_name,brand,price,rating,connectivity,processor,5g,nfc,ir_blaster,storage,battery,display,camera,extra_storage,os
0,OPPO Reno 11,oppo,29990,4.7,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...","Dimensity 8200, Octa Core, 3.1 GHz Processor",True,True,True,"8 GB RAM, 256 GB inbuilt",4800 mAh Battery with 67W Fast Charging,"6.7 inches, 1080 x 2412 px, 120 Hz Display wit...",50 MP + 32 MP + 8 MP Triple Rear & 32 MP Front...,Memory Card Not Supported,Android v14
1,Poco X6 Pro 5G,poco,19999,4.5,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...","Dimensity 8300 Ultra, Octa Core, 3.35 GHz Proc...",True,True,True,"12 GB RAM, 256 GB inbuilt",5500 mAh Battery with 90W Fast Charging,"6.67 inches, 1220 x 2712 px, 120 Hz Display wi...",64 MP + 8 MP + 2 MP Triple Rear & 16 MP Front ...,Memory Card Not Supported,Android v14

In [14]:
#now we will make 4 new columns from processor that are processor_brand,processor name, number of cores,processor speed
processor_name=df['processor'].str.split(',').str.get(0).values
num_cores=df['processor'].str.split(',').str.get(1).values
processor_speed=df['processor'].str.split(',').str.get(2).values

In [15]:
#inserting new columns
df1.insert(9,'processor_name',processor_name)
df1.insert(10,'num_cores',num_cores)
df1.insert(11,'processor_speed',processor_speed)

In [16]:
df1.head(1)

,mobile_name,brand,price,rating,connectivity,processor,5g,nfc,ir_blaster,processor_name,num_cores,processor_speed,storage,battery,display,camera,extra_storage,os
0,OPPO Reno 11,oppo,29990,4.7,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...","Dimensity 8200, Octa Core, 3.1 GHz Processor",True,True,True,Dimensity 8200,Octa Core,3.1 GHz Processor,"8 GB RAM, 256 GB inbuilt",4800 mAh Battery with 67W Fast Charging,"6.7 inches, 1080 x 2412 px, 120 Hz Display wit...",50 MP + 32 MP + 8 MP Triple Rear & 32 MP Front...,Memory Card Not Supported,Android v14

In [17]:

df1['processor_name']=df1['processor_name'].str.strip()

In [18]:
df1[df1['processor_name'].str.contains('Core')][['processor_name','num_cores','processor_speed']].head()

          processor_name           num_cores processor_speed
227  Octa Core Processor                 NaN             NaN
246  Octa Core Processor                 NaN             NaN
282  Octa Core Processor                 NaN             NaN
306  Octa Core Processor                 NaN             NaN
350            Quad Core   1.3 GHz Processor             NaN

**we can observed that due to non availability of processor name for some phones shifting has happened when we split lets correct it**

In [20]:
temp=df1[df1['processor_name'].str.contains('Core')][['processor_name','num_cores','processor_speed']].shift(1,axis=1)
temp

     processor_name            num_cores     processor_speed
227            None  Octa Core Processor                 NaN
246            None  Octa Core Processor                 NaN
282            None  Octa Core Processor                 NaN
306            None  Octa Core Processor                 NaN
350            None            Quad Core   1.3 GHz Processor
416            None            Quad Core   1.4 GHz Processor
421            None            Octa Core   1.6 GHz Processor
471            None  Octa Core Processor                 NaN
483            None  Octa Core Processor                 NaN
530            None            Quad Core   1.6 GHz Processor
550            None            Quad Core   1.3 GHz Processor
560            None  Octa Core Processor                 NaN
564            None  Octa Core Processor                 NaN
572            None  Octa Core Processor                 NaN
599            None  Octa Core Processor                 NaN
636            None            Quad Core   1.6 GHz Processor
690            None            Octa Core     2 GHz Processor
731            None            Octa Core   1.6 GHz Processor
742            None  Octa Core Processor                 NaN
743            None  Octa Core Processor                 NaN
838            None  Octa Core Processor                 NaN
841            None            Quad Core   1.3 GHz Processor
865            None  Octa Core Processor                 NaN
1098           None  Octa Core Processor                 NaN
1123           None            Quad Core   1.4 GHz Processor
1168           None            Quad Core   1.6 GHz Processor
1181           None            Octa Core     2 GHz Processor
1289           None            Octa Core     2 GHz Processor
1295           None            Quad Core   1.3 GHz Processor
1473           None  Octa Core Processor                 NaN
1506           None  Octa Core Processor                 NaN
1558           None            Octa Core     2 GHz Processor
1716           None            Quad Core   1.6 GHz Processor
1736           None            Octa Core   2.2 GHz Processor
1752           None            Quad Core   1.3 GHz Processor
1782           None  Octa Core Processor                 NaN
1783           None  Octa Core Processor                 NaN
1827           None  Octa Core Processor                 NaN
1893           None  Octa Core Processor                 NaN
1894           None  Octa Core Processor                 NaN
1935           None            Octa Core   1.8 GHz Processor
1948           None            Quad Core   1.3 GHz Processor
1962           None  Octa Core Processor                 NaN

In [21]:
df1.loc[temp.index,['processor_name','num_cores','processor_speed']]=temp.values

In [22]:
df1['processor_name'].value_counts().head()

processor_name
Snapdragon 695        66
Snapdragon 8 Gen2     65
Snapdragon 8+ Gen1    55
Snapdragon 680        46
Dimensity 700 5G      46
Name: count, dtype: int64

In [23]:
df1.loc[1810,'processor_name']='MediaTek MT6739'

In [24]:
processor_brand=df1['processor_name'].str.split(' ').str.get(0).values

In [25]:
df1.insert(9,'processor_brand',processor_brand)

In [26]:
df1['num_cores'] =df1['num_cores'].str.replace('Processor','').str.strip()

In [27]:
#we will make two new columns with named ram and rom
df1['num_cores']=df1['num_cores'].str.replace('Nine Cores','Nine Core')
df1['num_cores']=df1['num_cores'].str.replace('Nine-Cores','Nine Core')

In [28]:
df1['processor_speed']=df1['processor_speed'].str.strip().str.replace('GHz','').str.replace('Processor','').str.strip().astype('float')

In [29]:
#lets check for storage column
df1['storage'].value_counts()

storage
8 GB RAM, 128 GB inbuilt     525
6 GB RAM, 128 GB inbuilt     330
12 GB RAM, 256 GB inbuilt    236
4 GB RAM, 64 GB inbuilt      232
8 GB RAM, 256 GB inbuilt     204
4 GB RAM, 128 GB inbuilt     124
3 GB RAM, 32 GB inbuilt       46
6 GB RAM, 64 GB inbuilt       41
12 GB RAM, 512 GB inbuilt     33
2 GB RAM, 32 GB inbuilt       30
16 GB RAM, 256 GB inbuilt     26
3 GB RAM, 64 GB inbuilt       22
6 GB RAM, 256 GB inbuilt      12
12 GB RAM, 128 GB inbuilt     10
1 GB RAM, 16 GB inbuilt       10
16 GB RAM, 512 GB inbuilt     10
2 GB RAM, 64 GB inbuilt        9
4 GB RAM, 32 GB inbuilt        9
6 GB RAM, 512 GB inbuilt       6
2 GB RAM, 16 GB inbuilt        5
6 GB RAM, 1 TB inbuilt         5
8 GB RAM, 512 GB inbuilt       5
4 GB RAM, 256 GB inbuilt       5
18 GB RAM, 512 GB inbuilt      4
512 MB RAM, 4 GB inbuilt       4
64 GB inbuilt                  3
12 GB RAM, 1 TB inbuilt        3
4 GB RAM, 512 MB inbuilt       2
8 GB RAM, 1 TB inbuilt         2
24 GB RAM, 1 TB inbuilt        2
4 GB RAM, 512 GB inbuilt       2
3 GB RAM, 16 GB inbuilt        2
256 GB inbuilt                 1
18 GB RAM, 256 GB inbuilt      1
512 GB inbuilt                 1
1 GB RAM, 8 GB inbuilt         1
Name: count, dtype: int64

In [30]:
#we will make 2 new cols from storage
ram= df1['storage'].str.strip().str.split(',').str.get(0).str.replace('GB','').str.replace('RAM','').str.strip().values

In [31]:
df1.insert(13,'ram',ram)

In [32]:
memory=df1['storage'].str.strip().str.split(',').str.get(1).str.replace('GB','').str.replace('inbuilt','').str.strip().values

In [33]:
df1.insert(14,'memory',memory)

In [34]:
df1['ram']=df1['ram'].str.replace('\u2009',' ').str.strip().str.replace('MB','').str.replace('inbuilt','').astype('float')

In [35]:
df1['memory']=df1['memory'].str.replace('TB','').str.replace('MB','').str.strip().astype('float')

In [36]:
df1['ram'].value_counts()

ram
8.0      736
6.0      394
4.0      374
12.0     282
3.0       70
2.0       44
16.0      36
1.0       11
18.0       5
512.0      5
64.0       3
24.0       2
256.0      1
Name: count, dtype: int64

In [37]:
# Change rows 0 and 1, giving each row its own new values
df1.loc[[217, 322,835,1417,1460,1720,1810], ['ram', 'memory']] = [
    [12, 512],
    [8, 64],[16,512],[4,64],[12,512],[8,512],[2,16]
]

In [38]:
df1 = df1.drop([510,1251,480,1463])

In [39]:
df1['ram'].value_counts()

ram
8.0     738
6.0     394
4.0     375
12.0    284
3.0      70
2.0      45
16.0     37
1.0      10
18.0      5
24.0      1
Name: count, dtype: int64

In [40]:
#we convert TB into GB
temp=df1[df1['memory']==1]
df1.loc[temp.index,'memory']=1024

In [41]:
df1['memory'].value_counts()

memory
128.0     989
256.0     484
64.0      306
32.0       85
512.0      66
16.0       17
1024.0     11
8.0         1
Name: count, dtype: int64

**we will make battery_capacity,fast_charging_capacity,fast_charging from column battery**

In [43]:
df1['battery_capacity']=df1['battery'].str.replace('\u2009',' ').str.split(' ').str.get(0).astype('float')

In [44]:
df1['fast_charging_capacity']=df1['battery'].str.replace('\u2009',' ').str.split(' ').str.get(4).str.replace('W','')

In [45]:
temp=df1[df1['fast_charging_capacity']=='Fast']
df1.loc[temp.index,'fast_charging_capacity']=np.nan

In [46]:
df1['fast_charging_capacity']=df1['fast_charging_capacity'].fillna(np.nan)

In [47]:
df1['Fast_charging']=df1['battery'].str.contains('Fast',case=False,na=False)

**We will make new columns screen_size ,refresh_rate ,resolution height,resoultionwidth from dispaly '**

In [49]:
df1['screen_size']=df1['display'].str.split(',').str.get(0).str.replace('inches','').str.strip().astype('float')

In [50]:
df1['resolution_width']=df1['display'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0).str.split('x').str.get(0)

In [51]:
df1['resolution_height']=df1['display'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0).str.split('x').str.get(1).str.replace('p','').str.strip()

In [52]:
df1['refresh_rate']=df1['display'].str.split(',').str.get(2).str.split('Hz').str.get(0).str.strip()

**We will seperate Punch hole phone from drop notch this info is also available in display column**

In [54]:
df1['Punch_Hole']=df1['display'].str.split(',').str.get(2).str.split('with').str.get(1).str.contains('Punch',case=False,na=False)

In [55]:
df1['Notch']=df1['display'].str.split(',').str.get(2).str.split('with').str.get(1).str.contains('Notch',case=False,na=False)

In [56]:
df1.loc[216,['resolution_width','resolution_height','refresh_rate']]=[2400,1080,60]

In [57]:
df1['resolution_width']=df1['resolution_width'].astype('float')

In [58]:
df1['resolution_height']=df1['resolution_height'].astype('float')

**We will make 4 cols from camera named with primary camera that will have info primary rear camera,num_rear_camera ,front camera will have info main selfie camera and one more column with name num_front_camera**

In [60]:
df1['primary_camera']=df1['camera'].str.split('MP').str.get(0).str.strip().astype('float')

In [61]:
df1['front_camera']=df1['camera'].str.split('&').str.get(1).str.split('+').str.get(0).str.split('MP').str.get(0)

In [62]:
df1['camera'].value_counts().head()

camera
50 MP + 8 MP + 2 MP Triple Rear & 16 MP Front Camera    92
50 MP + 2 MP Dual Rear & 8 MP Front Camera              72
64 MP + 8 MP + 2 MP Triple Rear & 16 MP Front Camera    70
50 MP + 2 MP + 2 MP Triple Rear & 16 MP Front Camera    46
13 MP + 2 MP Dual Rear & 5 MP Front Camera              38
Name: count, dtype: int64

In [63]:
df1[df1['camera'].str.split('&').str.get(1).str.strip().str.split('+').isnull()]['camera'].index

Index([343, 558, 624, 1135, 1440, 1937, 1955], dtype='int64')

In [64]:
def camera_count(text):
    if 'Quad' in text:
        return 4
    elif 'Triple'in text:
        return 3
    elif 'Dual' in text :
        return 2
    else:
        return 1

In [65]:
df1['num_rear_camera']=df1['camera'].str.strip().str.split('&').str.get(0).apply(camera_count)

In [66]:
def front_camera_count(text):
   if 'Dual' in text :
        return 2
   else:
       return 1

In [67]:
df1=df1.drop([343,1135,624,1440,1937])

In [68]:
x=df1['camera'].str.strip().str.split('&').str.get(1)
x.loc[[558,1955]]=['8 MP Camera','0.8 Camera']

In [69]:
df1['num_front_camera']=x.apply(front_camera_count)

In [70]:
df1['Extra_storage_supported']=~df1['extra_storage'].str.contains('Not Supported')

In [71]:
df1[~df1['extra_storage'].str.contains('Not Supported')]['extra_storage'].head()

6      Memory Card (Hybrid), upto 1 TB
7     Memory Card Supported, upto 1 TB
11     Memory Card (Hybrid), upto 1 TB
12     Memory Card (Hybrid), upto 1 TB
13    Memory Card Supported, upto 1 TB
Name: extra_storage, dtype: object

In [72]:
df1['Extra_storage(GB)']=df1[~df1['extra_storage'].str.contains('Not Supported')]['extra_storage'].str.replace('\u2009', '', regex=False) .str.extract(r'(\d+)').astype(float)

In [73]:
def into_gb(num):
    if num == 1 or num == 2:
        return num*1024
    else:
        return num

In [74]:
df1['Extra_storage(GB)']=df1['Extra_storage(GB)'].apply(into_gb)

**Here we seperate out two info from extra storage one is of extra storage suppoted or not and second one how much extra memory is in phone**

In [76]:
df1['os_name']=df1['os'].str.strip().str.split().str.get(0).str.strip()

In [77]:
df1['os_version']=df1['os'].str.strip().str.split().str.get(1).str.split('v').str.get(1).str.extract(r'(\d+(?:\.\d+){0,2})')

In [78]:
#now remove unnecassary cols
df1.columns

Index(['mobile_name', 'brand', 'price', 'rating', 'connectivity', 'processor',
       '5g', 'nfc', 'ir_blaster', 'processor_brand', 'processor_name',
       'num_cores', 'processor_speed', 'ram', 'memory', 'storage', 'battery',
       'display', 'camera', 'extra_storage', 'os', 'battery_capacity',
       'fast_charging_capacity', 'Fast_charging', 'screen_size',
       'resolution_width', 'resolution_height', 'refresh_rate', 'Punch_Hole',
       'Notch', 'primary_camera', 'front_camera', 'num_rear_camera',
       'num_front_camera', 'Extra_storage_supported', 'Extra_storage(GB)',
       'os_name', 'os_version'],
      dtype='object')

In [79]:
df1.drop(columns=['connectivity','processor','storage','battery','display','camera','extra_storage','os'],inplace=True)

In [80]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1954 entries, 0 to 1962
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mobile_name              1954 non-null   object
 1   brand                    1954 non-null   object
 2   price                    1954 non-null   int64
 3   rating                   1855 non-null   float64
 4   5g                       1954 non-null   bool
 5   nfc                      1954 non-null   bool
 6   ir_blaster               1954 non-null   bool
 7   processor_brand          1911 non-null   object
 8   processor_name           1911 non-null   object
 9   num_cores                1946 non-null   object
 10  processor_speed          1836 non-null   float64
 11  ram                      1954 non-null   float64
 12  memory                   1954 non-null   float64
 13  battery_capacity         1940 non-null   float64
 14  fast_charging_capacity   1641 non-null   object
 15  Fast_charging            1954 non-null   bool
 16  screen_size              1954 non-null   float64
 17  resolution_width         1954 non-null   float64
 18  resolution_height        1954 non-null   float64
 19  refresh_rate             1396 non-null   object
 20  Punch_Hole               1954 non-null   bool
 21  Notch                    1954 non-null   bool
 22  primary_camera           1954 non-null   float64
 23  front_camera             1952 non-null   object
 24  num_rear_camera          1954 non-null   int64
 25  num_front_camera         1954 non-null   int64
 26  Extra_storage_supported  1954 non-null   bool
 27  Extra_storage(GB)        956 non-null    float64
 28  os_name                  1923 non-null   object
 29  os_version               1913 non-null   object
dtypes: bool(7), float64(10), int64(3), object(10)
memory usage: 444.3+ KB

##### lets check each column whether there is any issue or not

In [82]:
# which brand has less than 12 phones we will group them as 'other'
brands= ["samsung", "xiaomi", "vivo", "realme", "oppo", "motorola", "oneplus", "apple", "poco", "tecno",
              "iqoo", "infinix", "honor", "nokia", "itel", "google", "nubia", "huawei", "asus", "lava",
              "sony", "nothing"]
def temp(text):
    if text not in brands:
        return 'other'
    else:
        return text

In [83]:
df1['brand']=df1['brand'].apply(temp)

In [84]:
  df1['rating']=df1['rating'].apply(lambda x: x / 20 if x > 5 else x)

In [85]:
df1['processor_brand'].value_counts()

processor_brand
Snapdragon    812
Dimensity     436
Helio         336
Exynos        100
Bionic         71
Unisoc         54
Tiger          39
Google         15
A13            10
Spreadtrum      9
Kirin           9
Tensor          6
Qualcomm        5
Apple           2
Samsung         2
SC9863A         2
Sanpdragon      1
Fusion          1
MediaTek        1
Name: count, dtype: int64

We will combine similair brand processor into one

In [87]:
important_processors = ["Snapdragon", "Dimensity", "Helio", "Exynos", "Bionic", "Unisoc"]

# Mapping for corrections
replace = {
    "Sanpdragon": "Snapdragon",
    "Qualcomm": "Snapdragon",
    "Apple": "Bionic",
    "A13": "Bionic",
    "Samsung": "Exynos",
    "SC9863A": "Unisoc",
    "Spreadtrum": "Unisoc",
    "MediaTek": "Helio"
}

# Function to classify processor
def temp(proc):
    proc = replace.get(proc, proc)  
    return proc if proc in important_processors else "Other"

# Apply function
df1['processor_brand'] = df1['processor_brand'].apply(temp)

In [88]:
df1['processor_name'].nunique()

283

In [89]:
df1['processor_name'].value_counts().head()

processor_name
Snapdragon 695        66
Snapdragon 8 Gen2     65
Snapdragon 8+ Gen1    55
Snapdragon 680        46
Dimensity 700 5G      46
Name: count, dtype: int64

here we converted the cores into numeric

In [91]:
def change_core(text):
    if text =='Deca Core':
        return 10
    elif text =='Hexa Core':
        return 6
    elif text=='Quad Core':
        return 4
    elif text =='Nine Core':
        return 9
    else:
        return 8
df1['num_cores']=df1['num_cores'].apply(change_core)

In [92]:
df1['processor_speed'].value_counts().head()

processor_speed
2.2    319
2.4    244
2.0    240
3.2    200
2.3    124
Name: count, dtype: int64

In [93]:
df1.columns

Index(['mobile_name', 'brand', 'price', 'rating', '5g', 'nfc', 'ir_blaster',
       'processor_brand', 'processor_name', 'num_cores', 'processor_speed',
       'ram', 'memory', 'battery_capacity', 'fast_charging_capacity',
       'Fast_charging', 'screen_size', 'resolution_width', 'resolution_height',
       'refresh_rate', 'Punch_Hole', 'Notch', 'primary_camera', 'front_camera',
       'num_rear_camera', 'num_front_camera', 'Extra_storage_supported',
       'Extra_storage(GB)', 'os_name', 'os_version'],
      dtype='object')

In [94]:
df1['ram'].value_counts()

ram
8.0     737
6.0     394
4.0     373
12.0    282
3.0      70
2.0      45
16.0     37
1.0      10
18.0      5
24.0      1
Name: count, dtype: int64

In [95]:
df1['memory'].value_counts()

memory
128.0     989
256.0     484
64.0      306
32.0       85
512.0      61
16.0       17
1024.0     11
8.0         1
Name: count, dtype: int64

In [96]:
df1['battery_capacity'].isnull().sum()

14

In [97]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1954 entries, 0 to 1962
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mobile_name              1954 non-null   object
 1   brand                    1954 non-null   object
 2   price                    1954 non-null   int64
 3   rating                   1855 non-null   float64
 4   5g                       1954 non-null   bool
 5   nfc                      1954 non-null   bool
 6   ir_blaster               1954 non-null   bool
 7   processor_brand          1954 non-null   object
 8   processor_name           1911 non-null   object
 9   num_cores                1954 non-null   int64
 10  processor_speed          1836 non-null   float64
 11  ram                      1954 non-null   float64
 12  memory                   1954 non-null   float64
 13  battery_capacity         1940 non-null   float64
 14  fast_charging_capacity   1641 non-null   object
 15  Fast_charging            1954 non-null   bool
 16  screen_size              1954 non-null   float64
 17  resolution_width         1954 non-null   float64
 18  resolution_height        1954 non-null   float64
 19  refresh_rate             1396 non-null   object
 20  Punch_Hole               1954 non-null   bool
 21  Notch                    1954 non-null   bool
 22  primary_camera           1954 non-null   float64
 23  front_camera             1952 non-null   object
 24  num_rear_camera          1954 non-null   int64
 25  num_front_camera         1954 non-null   int64
 26  Extra_storage_supported  1954 non-null   bool
 27  Extra_storage(GB)        956 non-null    float64
 28  os_name                  1923 non-null   object
 29  os_version               1913 non-null   object
dtypes: bool(7), float64(10), int64(4), object(9)
memory usage: 444.3+ KB

In [98]:
df1['primary_camera'].value_counts()

primary_camera
50.0     778
64.0     350
108.0    195
48.0     176
13.0     166
12.0      92
200.0     67
8.0       64
16.0      21
100.0     10
5.0        8
12.2       6
50.3       5
20.0       4
54.0       3
40.0       2
2.0        2
24.0       2
160.0      1
21.0       1
47.2       1
Name: count, dtype: int64

In [99]:
df1['front_camera'].value_counts()

front_camera
16                   586
32                   381
8                    359
5                    197
12                   101
13                    89
20                    53
50                    48
10                    46
60                    21
44                    12
40                    11
7                      9
2                      8
10.8                   6
25                     5
10.5                   4
24                     4
10.1                   2
11.1                   2
48                     2
9.5                    1
2.1                    1
0.3                    1
Main Front Camera      1
10.7                   1
12.6                   1
Name: count, dtype: int64

In [100]:
df1.loc[1582,'front_camera']=20

In [101]:
 df1['num_rear_camera'].value_counts()

num_rear_camera
3    1098
2     531
4     233
1      92
Name: count, dtype: int64

In [102]:
df1['num_front_camera'].value_counts()

num_front_camera
1    1895
2      59
Name: count, dtype: int64

In [103]:
def os(text):
    if text not in ['Android','iOS']:
        return 'other'
    else :
        return text
df1['os_name']=df1['os_name'].apply(os)

In [104]:
df1[['os_name','os_version']].value_counts()

os_name  os_version
Android  12            623
         13            514
         11            375
         14            116
         10             80
         9.0            38
         10.0           29
iOS      16             20
         15             18
         17             14
Android  8.1            12
         15             10
iOS      14              8
         13              7
Android  11.0            5
other    2.0             4
Android  8.0             4
iOS      18              4
Android  12.1            4
iOS      15.0            3
         13.0            3
         14.0            2
Android  5.1.1           2
         6.0             2
iOS      12.3            2
Android  5.1             2
other    2               2
         12              2
         3.1             1
iOS      20              1
         10              1
         19              1
Android  9               1
         7.1             1
         4.4.2           1
other    4               1
Name: count, dtype: int64

In [105]:
df1[['os_name','os_version']].value_counts()

os_name  os_version
Android  12            623
         13            514
         11            375
         14            116
         10             80
         9.0            38
         10.0           29
iOS      16             20
         15             18
         17             14
Android  8.1            12
         15             10
iOS      14              8
         13              7
Android  11.0            5
other    2.0             4
Android  8.0             4
iOS      18              4
Android  12.1            4
iOS      15.0            3
         13.0            3
         14.0            2
Android  5.1.1           2
         6.0             2
iOS      12.3            2
Android  5.1             2
other    2               2
         12              2
         3.1             1
iOS      20              1
         10              1
         19              1
Android  9               1
         7.1             1
         4.4.2           1
other    4               1
Name: count, dtype: int64

In [106]:
# Step 1: extract major version (first number in string, ignoring weird ones like '4.4.2')
df1['os_version'] = pd.to_numeric(
    df1['os_version'].astype(str).str.split('.').str[0], 
    errors='coerce'
)

important_android = {12, 13, 11, 14, 10, 9, 8, 15}
important_ios = {16, 15, 17, 14, 13,18,12,20,10,19}

# Step 3: keep only major contributors, else NaN
def keep_major(row):
    if row['os_name'] == 'Android':
        return row['os_version'] if row['os_version'] in important_android else np.nan
    elif row['os_name'] == 'iOS':
        return row['os_version'] if row['os_version'] in important_ios else np.nan
    else:
        return np.nan

df1['os_version'] = df1.apply(keep_major, axis=1).astype(float)

In [107]:
df1[['os_name','os_version']].value_counts()

os_name  os_version
Android  12.0          627
         13.0          514
         11.0          380
         14.0          116
         10.0          109
         9.0            39
iOS      15.0           21
         16.0           20
Android  8.0            16
iOS      17.0           14
Android  15.0           10
iOS      13.0           10
         14.0           10
         18.0            4
         12.0            2
         10.0            1
         19.0            1
         20.0            1
Name: count, dtype: int64

#### This is our final view of cleaned dataset

In [210]:
pd.set_option('display.max_columns',None)
df1.head()

,mobile_name,brand,price,rating,5g,nfc,ir_blaster,processor_brand,processor_name,num_cores,processor_speed,ram,memory,battery_capacity,fast_charging_capacity,Fast_charging,screen_size,resolution_width,resolution_height,refresh_rate,Punch_Hole,Notch,primary_camera,front_camera,num_rear_camera,num_front_camera,Extra_storage_supported,Extra_storage(GB),os_name,os_version
0,OPPO Reno 11,oppo,29990,4.70,True,True,True,Dimensity,Dimensity 8200,8,3.10,8.0,256.0,4800.0,67,True,6.70,1080.0,2412.0,120,True,False,50.0,32,3,1,False,NaN,Android,14.0
1,Poco X6 Pro 5G,poco,19999,4.50,True,True,True,Dimensity,Dimensity 8300 Ultra,8,3.35,12.0,256.0,5500.0,90,True,6.67,1220.0,2712.0,120,True,False,64.0,16,3,1,False,NaN,Android,14.0
2,Xiaomi Redmi Note 13 Pro Plus,xiaomi,31999,4.35,True,True,True,Dimensity,Dimensity 7200 Ultra,8,2.80,8.0,256.0,5000.0,120,True,6.67,1220.0,2712.0,120,True,False,200.0,16,3,1,False,NaN,Android,13.0
3,OPPO Reno 11 Pro,oppo,40990,4.75,True,True,True,Dimensity,Dimensity 8200,8,3.10,12.0,256.0,4600.0,80,True,6.74,1240.0,2772.0,120,True,False,50.0,32,3,1,False,NaN,Android,14.0
4,Xiaomi Redmi Note 13 Pro Max 5G,xiaomi,33999,4.00,True,True,True,Snapdragon,Snapdragon 7 Gen1,8,2.40,12.0,256.0,5200.0,120,True,6.67,1220.0,2712.0,144,True,False,200.0,32,3,1,False,NaN,Android,13.0

In [110]:
df1.to_csv('mobiles_cleaned.csv',index=False)